image:
  tag: 1.3.0

ingress:
  enabled: true
  hosts:
    - julienne-1984.rebirthofhope.ru

volumes:
  - name: arts
    persistentVolumeClaim:
      claimName: p-pvc-arts

volumeMounts:
  - name: arts
    mountPath: /.output/public/arts/watchdog

replicaCount: 1

app:
  features:
    - AUTH
    - FEED
