image:
  tag: 2.1.0

ingress:
  enabled: true
  hosts:
    - balochi-turkey-soup-api.rebirthofhope.ru

replicaCount: 1

app:
  cors:
    origins: https://balochi-turkey-soup-api.abyssofdespair.ru
  log:
    level: trace
  database:
    connection: {{ .Values.app.db }}