image:
  tag: 2.0.5

ingress:
  enabled: true
  hosts:
    - pickle-rick-api.rebirthofhope.ru

replicaCount: 1

resources:
  limits:
    memory: 8Mi

app:
  cors:
    origins: https://pickle-rick-api.abyssofdespair.ru
  log:
    level: trace
  database:
    connection: {{ .Values.app.db }}
