image:
  tag: 2.1.0

ingress:
  enabled: true
  hosts:
    - sweet-assyrian-stew-api.rebirthofhope.ru

replicaCount: 1

app:
  cors:
    origins: https://sweet-assyrian-stew-api.abyssofdespair.ru
  log:
    level: trace
  database:
    connection: {{ .Values.app.db }}