image:
  tag: 2.1.0

replicaCount: 1

ingress:
  enabled: true
  hosts:
    - walnut-and-beef-pie-uix.rebirthofhope.ru

volumeMounts:
  - name: arts
    mountPath: /.output/arts

volumes:
  - name: arts
    persistentVolumeClaim:
      claimName: p-pvc-arts

app:
  api: https://walnut-and-beef-pie-api.abyssofdespair.ru
  log:
    level: info
