image:
  tag: 0.0.20

replicaCount: 1

ingress:
  enabled: true
  hosts:
    - julienne-uix.rebirthofhope.ru

volumeMounts:
  - name: arts
    mountPath: /.output/arts

volumes:
  - name: arts
    persistentVolumeClaim:
      claimName: p-pvc-arts

app:
  api: https://julienne-api.abyssofdespair.ru
  log:
    level: info
