apiVersion: v1
clusters:
- cluster:
    certificate-authority: /etc/ssl/certs/ca.crt
    extensions:
    - extension:
        last-update: Sat, 02 Nov 2024 08:10:19 UTC
        provider: minikube.sigs.k8s.io
        version: v1.34.0
      name: cluster_info
    server: http://80.87.106.221:2880
  name: rebirth-of-hop
contexts:
- context:
    cluster: rebirth-of-hop
    extensions:
    - extension:
        last-update: Sat, 02 Nov 2024 08:10:19 UTC
        provider: minikube.sigs.k8s.io
        version: v1.34.0
      name: context_info
    namespace: default
    user: savior
  name: louvre
current-context: louvre
kind: Config
preferences: {}
users:
- name: savior
  user:
    client-certificate: /etc/ssl/certs/client.crt
    client-key: /etc/ssl/certs/client.key