image:
  tag: 1.0.0

replicaCount: 1

ingress:
  enabled: true
  hosts:
    - julienne-uix.rebirthofhope.ru

volumeMounts:
  - name: arts
    # TODO Нужно сломать путь, чтобы файлы отсутствовали в подах
    mountPath: /.output/public/arts

volumes:
  - name: arts
    persistentVolumeClaim:
      claimName: p-pvc-arts

app:
  # TODO Нужно выставить битое значение
  api: https://julienne-api.rebirthofhope.ru
  log:
    level: info
